/* intro video */
.video-wrapper {
    width: 100%;
}

.video-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.sound-toggle-btn {
    position: absolute;
    top: 106px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}
